body{
    text-align: center;
    font-size: 20px;
}

ul{
    list-style-type: none;
    text-transform: uppercase;
    border: 1px solid darkslategray;
    margin: 20px 400px;
    background-color: dodgerblue;
    color: #fff;
}

input{
    font-size: 20px;
}
