.App {
  text-align: center;
}

.App-menu {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.dish{
  background-color: #fff;
  color: #000;
  padding: 10px;
  margin: 0 0 20px 0;
  border-radius: 5px;
  cursor: pointer;
}

.dishes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px 100px;
}

h3{
  font-size: 20px;
}

p{
  font-size: 18px;
}