body {
	    width: 100%;
	  }

.menu {
	    width: 25px;
	   	margin-top: 45%;
	 }

#header{
	 	background-color: #eee9ea;
	 	padding: 10px;
	 }

nav{
	 	float: none;
	 }

#header ul li{
	 	padding: 10px;
	 }

#header ul{
	 	padding : 0;
	 }

.hide-mobile {
 	  	 display: none;
	 }

#bg-image{
		width: 100%;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	 }

#main-section {
		background-color: #eae4e6;
		display: block;	
		padding: 30px 20px 0px 20px;
		text-align: center;
	 }

#categories{
		display: block;
		padding: 20px 0;
	 }	

#main-content{
		padding: 0;
		text-align: justify;
	 }