body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
    display: table;
    content: '';
}

/*CSS for fab fa icons */

.fab {
    padding: 15px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #008000;
}

.fa {
    padding: 15px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #008000;
}

.fa-facebook-f {
    color: #008000;
}

.wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
    /*CSS for header top*/

.header-top {
    background-color: #e9e9e9;
}

.header-top-left {
    float: left;
}

.header-top-left ul {
    padding-left: 0;
}

.header-top-left nav ul li {
    list-style-type: none;
    padding-right:5px;
    border-right: 2px solid #987314;
    font-size: 13px;
    display: inline-block;
}

.header-top-left nav ul li:last-child {
    border-right: none;
}

.header-top-left nav ul li a {
    color: #987314;
    text-decoration: none;
}

.social-icon {
    text-align: right;
}

/* CSS for header main*/

.header-main {
    height: 80px;
    background-color: #fff;
    padding-top: 14px;
}

.logo {
    float: left;
    padding-top: 3px;
}

.header-main-right {
    float: right;
    color: #008000;
}

.phone-email-area{
    float: left;
}

.phone-email-area .fa-phone{
    padding-left: 5px;
}

.phone-email-text{
    float: right;
    width: 200px;
}

.header-main-right i {
    margin-right: 5px;
}

.header-main-right i span {
    margin-right: 20px;
}

.header-main-right button {
    background-color: #fff;
    border: 2px solid green;
    padding: 8px;
    color: #008000;
    margin-left: 20px;
}

.header-main-right button a {
    text-decoration: none;
    color: #008000;
}

/*CSS for header menu*/

.header-menu {
    background-color: #008000;
    text-align: left;
}

.menu-nav ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 0;
}

.menu-nav ul li {
    display: inline;
    padding: 0 13px;
    font-weight: bold;
}

.menu-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.fa-search {
    color: #fff;
}

/*CSS for section area*/

section {
    background-image: url("../assets/banner-image.jpg");
    background-color: #cccccc;
    height: 500px;
    opacity: 0.8;
    position: relative;
}

#section-overlay {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    position: absolute;
}

.section-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.section-area h1 {
    font-size: 50px;
    font-weight: bold;
}

.section-area p {
    font-size: 16px;
    font-weight: bold;
}

.call-to-action-button .button-green {
    background-color: #008000;
    border: 2px solid green;
    padding: 8px;
    color: #fff;
    margin-left: 20px;
}

.button-green a {
    text-decoration: none;
    color: #fff;
}

.call-to-action-button .button-transparent {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #fff;
    padding: 8px;
    color: #fff;
    margin-left: 20px;
    font-size: 15px;
}

.button-transparent a {
    text-decoration: none;
    color: #fff;
}

    /*CSS for card container area*/

.card-container {
    position: absolute;
    bottom: -180px;
}

.card-container .card {
    box-shadow : 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #008000;
    float: left;
    width: 25%;
    padding: 30px 20px;
    text-align: center;
    color: #fff;
}

.card-container .card .heading {
    font-size: 25px;
}

#card1 {
    background-color: #624eff;
}

#card2 {
    background-color: #ff5464;
}

#card3 {
    background-color: #a2e768;
}

#card4 {
    background-color: #ff7935;
}