body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.wrapper{
    width: 80%;
}

.card-container{
    width: 100%;
}

.card{
    display: inline-block;
    background-color: aqua;
    margin-right: 10px;
    width: 25%;
    white-space: nowrap;
}